

.item_custom{
    --min-height: 10px;
    padding: 0;
      border: solid 1.3px #dbdadf;
      margin: 5px 10px;
      border-radius: 5px;
      --background: #fbfbfb;
      color: black;
  }
  
  .item_custom ion-icon{
    color: black;
    font-size: unset;
    margin: auto;
    margin-right: 10px;
  }
  .item_custom ion-input{
    text-transform: uppercase;
    font-size: revert;
    color: black;
  }

  .mail_input{
    text-transform: initial !important;
  }
  
  .item_custom:hover{
    border-bottom: solid 2px #4268ec;
    
     ion-icon{
      color: #4268ec !important;
    }
    
  }
  
  .label_custom
{
    color: #6d6d6d;
    font-weight: 600;
    font-size: small;
    padding-left: 9px;
}


.inputdate{
  height: 43px;
      width: 94%;
      font-size: large;
      font-weight: 900;
      padding-left: 11px ;
      border: solid 1.8px #cacaca;
      border-bottom: solid 2px #929191;
      border-right: solid 2px #929191;
      margin: 5px 10px;
      border-radius: 5px;
      background: #fbfbfb;
      color: black;
}

.inputdate:hover{
  border-bottom: solid 2px #4268ec;

    border-right: solid 2px #4268ec;
  
   ion-icon{
    color: #4268ec !important;
  }
  
}