
.alert-buttons{
    text-align: end;
    margin: 10px;
}
ion-list{
    max-height: 8;
    position: relative;
    max-height: 197px;
    border-top: 1px solid var(--ion-color-step-150, #d9d9d9);
    border-bottom: 1px solid var(--ion-color-step-150, #d9d9d9);
    overflow: auto;
    ion-item{
        font-size: small;
    }
}

.cabecera{
    padding: 0px 23px 1px;
    text-align: start;
}