

    <ion-tabs (click)="prueba()">
      

      <ion-tab-bar slot="top">
        <div class="contenedor_img_toolbar">
          <img class="fondo_logo" [src]="mobile?'assets/img/icono_lab.png':'assets/img/logo.png'" alt="logo" height="50">
        </div>
        <div class="tabs-buttons">

          <ion-tab-button *ngIf="active_guiaTracking"  (click)="presentPopover($event)"  >
            <ion-icon name="document-text-outline"></ion-icon>
            <ion-label *ngIf="!mobile">Tracking Orden</ion-label>
          </ion-tab-button>

<!-- 

<ion-button (click)="presentPopover($event)">Click Me</ion-button>



-->



          <ion-tab-button *ngIf="active_catalogo" target="_blank" [href]="(url_catalogo!='')?url_catalogo:''" >
            <ion-icon name="document-text-outline"></ion-icon>
            <ion-label *ngIf="!mobile">Catálogo</ion-label>
          </ion-tab-button>

          
          <ion-tab-button *ngIf="flag_ingreso_orden_ref" tab="ingreso-orden">
            <ion-icon name="document-text-outline"></ion-icon>
            <ion-label *ngIf="!mobile">Ingresar Orden</ion-label>
          </ion-tab-button>

          <ion-tab-button *ngIf="activePedidos || flag_pedido_ref" tab="ingreso-pedido">
            <ion-icon name="pencil-outline"></ion-icon>
            <ion-label *ngIf="!mobile">Ingresa Pedido</ion-label>
          </ion-tab-button>
      
          <ion-tab-button *ngIf="activePedidos || flag_pedido_ref" tab="lista-pedidos">
            <ion-icon name="clipboard"></ion-icon>
            <ion-label *ngIf="!mobile">Pedidos</ion-label>
          </ion-tab-button>
         
        <ion-tab-button tab="lista-ordenes" *ngIf="activeOrden">
          <ion-icon name="newspaper-outline"></ion-icon>
          <ion-label *ngIf="!mobile">Resultados</ion-label>
        </ion-tab-button>                 
      
        <ion-tab-button (click)="presentPopoverTracking($event)" class="btn-user" >
          <ion-icon color="secondary" name="person-circle-outline"></ion-icon>
          <ion-label class="ion-text-nowrap" *ngIf="!mobile" color="secondary">{{sesion_usuario_des}}</ion-label >
        </ion-tab-button>
      <!--
      <ion-tab-button class="btn-user" (click)="cerrarSesion()"  color="danger">
        <ion-icon name="exit-outline"  color="danger"></ion-icon>
       <ion-label   color="danger" *ngIf="!mobile">{{ 'complex.lista_cerrar_sesion' | translate }}</ion-label> </ion-tab-button>
        -->

      </div>
    
<!-- 
      <ion-buttons class="btn-end">
        <ion-button fill="clear" color="primary" (click)="presentPopover($event)" class="btn_user">
          <ion-label *ngIf="!mobile">{{sesion_usuario_des}}</ion-label>
          <ion-icon size="large" name="person-circle-outline">
          </ion-icon>
        </ion-button>
      </ion-buttons>
  -->
      </ion-tab-bar>
    </ion-tabs>
    <!--
<ion-header>
  <ion-toolbar> 
     <div class="contenedor_img_toolbar" slot="start">
    <img class="fondo_logo" src="assets/img/icono_lab.png" width="50" height="50" alt="logo">
  </div>


    <ion-buttons slot="end">
      <ion-button fill="clear" color="primary" (click)="presentPopover($event)" class="btn_user">
        <ion-label *ngIf="!mobile">{{sesion_usuario_des}}</ion-label>
        <ion-icon size="large" name="person-circle-outline">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
-->
<ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
  <ng-template>
    <ion-content class="ion-padding">
      <ion-item (click)="presentModalTracking()">
        Nueva Guia
      </ion-item>
    </ion-content>
  </ng-template>
</ion-popover>