.tabs-buttons{

    width: 100%;
    display: inline-flex;
    place-content: end;
}
.btn-user{
    color: #6eacaa;
    font-weight: bold;
    border-left: solid 0.5px #eeeeee;
}
.contenedor_img_toolbar{
    padding-left: 12px;
}