<ion-content>
<ion-list>
  <ion-item button (click)="presentModal('informacion')">
    <ion-icon slot="start" name="information-outline"></ion-icon>
    Información
  </ion-item>
  <ion-item button (click)="presentModal('facturacion')">
    <ion-icon slot="start" name="receipt-outline"></ion-icon>
    Facturación
  </ion-item>
  <ion-item button (click)="presentModal('evcalidad')">
    <ion-icon  slot="start" name="bookmarks-outline"></ion-icon>
    Ev Calidad
  </ion-item>
  <ion-item button (click)="presentModal('notas')">
    <ion-icon slot="start" name="bookmark-outline"></ion-icon>
    Notas
  </ion-item>
  <ion-item button (click)="presentModal('adjuntos')">
    <ion-icon slot="start" name="documents-outline"></ion-icon>
    Adjuntos
  </ion-item>
  
</ion-list> 
</ion-content>
