.width_complet{
    width: 100%;
}
.text_footer{
    color: #6a6a6a;
    font-weight: 600;
    small{
    padding: 6px;
    }
}

.colornro{
    color: #5f507c;
}

.colIcon{
    margin: auto;
}

ion-button{
    height: max-content;
}