ion-text{
    width: 100%;
}

ion-content{
    padding-top: 5px;
    --min-height:200px;
    --max-height:400px;
    min-height:200px;
    max-height:400px;
    overflow: scroll;
}

.text-custom{
    .codigo{
        font-weight: bold;
    }
}

.text-custom:hover{
    background-color: #efefef;
}