.nombre_usuario {
    color: gray;
  }
  ion-list {
    padding: 0px 0px 30px 0px;
    ion-item {
      padding: 2px 5px;
    }
    ion-text {
      width: 100%;
      .val_orden {
        opacity: 0.2;
        font-size: small;
        ion-icon {
          opacity: 1;
          color: rgb(189, 173, 0);
          padding-right: 10px;
        }
      }
      .orden_values {
        max-width: 600px;
        white-space: break-spaces;
        .val_fecha {
          ion-icon {
            color: rgb(255, 94, 0);
            padding-right: 10px;
          }
        }
  
        .val_ced {
          ion-icon {
            color: rgb(0, 164, 219);
            padding-right: 10px;
          }
          .val_ced_dis {
            display: contents;
          }
        }
  
        ion-col {
          display: flex;
          align-items: center;
          color: rgb(121, 121, 121);
          //  color: rgb(255, 122, 122);
        }
      }
    }
  }
  .val_doc {
    ion-icon {
      padding-right: 10px;
    }
    color: #004d81;
    //font-size: medium;
    //padding: 5px;
  }
  .disable_val {
    //    color:#1a5369;
    opacity: 0.3;
  }
  
  ion-toolbar {
    ion-searchbar {
      width: 35%;
      min-width: 180px;
      margin-right: 2%;
    }
    ion-buttons {
      padding-left: 1vw;
      ion-button {
        margin-right: 10px;
        ion-icon {
          font-size: xx-large;
        }
      }
    }
  }
  
  .id_orden {
    color: #686868;
  }
  .nombres_orden {
    padding-left: 0px;
    font-size: large;
    font-weight: 600;
  }
  .btn_listas {
    // padding-right: 100px;
    color: #686868;
    .btn_orden {
      margin: 0;
      font-size: small;
      text-transform: none;
      color: #686868;
    }
    .btn_filtro {
      margin: 0;
      font-size: small;
      text-transform: none;
      color: #686868;
    }
  }
  
  ion-card {
    //width: 95%;
    margin: 2%;
    margin-top: 20px;
    max-width: 1080px;
    ion-card-title {
      font-weight: bold;
    }
    ion-card-content {
      padding-left: 0px;
    }
  }
  ion-content {
    height: 57%;
    align-items: center;
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
    --background: #fdfdfd;
  }
  
  .no_results {
    opacity: 0.3;
    // background-color: rgb(54, 54, 54);
    // --background: rgb(22, 22, 22);
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    div {
      width: 100%;
    }
  }
  
  .indice {
    // font-stretch: condensed;
    font-size: medium;
    opacity: 0.3;
    // color: #0089ff;
  }
  
  ion-icon {
    //DESABILITA LA INSCRIPCION DEL HOVER
    pointer-events: none;
  }
  ion-toolbar {
    contain: initial !important;
    overflow: initial !important;
    img {
      max-height: 90px;
    }
    ion-button {
      --overflow: initial;
    }
  }
  
  .tooltip {
    position: relative;
    display: inline-block;
    // border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 9999 !important;
    top: 140%;
    // left: 10%;
    margin-left: -15px;
    white-space: break-spaces;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
  .search-input {
    text-align: -webkit-right;
    ion-searchbar {
      width: 35%;
      min-width: 180px;
      margin-right: 2%;
    }
  }
  
  //CSS PARA MOVILES
  @media only screen and (max-width: 600px) {
    .btn_listas {
      padding-right: 0;
      margin-left: 0;
    }
    ion-card-header {
      margin-left: 0;
      padding-left: 0;
    }
  
    ion-list {
      padding: 0;
      ion-buttons {
        flex-flow: column;
        height: 100%;
        justify-content: center;
        margin-left: 0;
        ion-button {
          margin-bottom: 10px;
          margin-top: 30%;
        }
      }
    }
  
    ion-toolbar {
      img {
        width: 60%;
      }
      ion-searchbar {
        width: 100%;
        position: absolute;
        z-index: 99999;
        // display: none;
      }
      .nombre_usuario {
        display: none;
      }
      ion-buttons {
        padding: 0;
      }
    }
    .indice {
      position: absolute;
      top: 0;
      right: 0;
      font-size: medium;
    }
    .val_orden {
      opacity: 1 !important;
      color: #686868 !important;
      font-size: inherit !important;
    }
  
    .no_results {
      font-size: large;
    }
    .franja_usr {
      right: 0;
    }
    .fechas {
      margin-top: 10px;
    }
  } //FIN MOVILES
  
  .franja_usr {
    width: fit-content;
    position: fixed;
    z-index: 9999;
    background: #ebebeb;
    padding: 10px;
    border-bottom-right-radius: 10px;
    color: #414141;
    box-shadow: 3px 2px 2px #d9d9d9;
  }
  .fechas {
    width: fit-content;
    padding: 0;
    width: 100%;
  }
  .fechas_mob {
    text-align: center;
    color: dodgerblue;
    width: 100%;
    background: #fff5f5;
    //font-weight: bold;
    small {
      font-weight: bold;
    }
  }
  
  .search-input {
    ion-searchbar {
      width: 100%;
    }
  }
  
  .saldo_pen {
    background: #fc65ff;
  }
  
  .info-search {
    float: right;
    padding-right: 17px;
    color: #ff8b7f;
  }
  .info_size {
    padding-left: 30px;
    font-size: xx-small;
    color: #a4a4a4;
  }
  .info-text {
    font-weight: bold;
    font-size: large;
  }
  
  * {
    //color: rgb(102, 102, 102);
  }
  .contenido {
    height: 100%;
    padding: 10px;
  }
  .titulo {
    padding-top: 10px;
    padding-left: 10px;
    p {
      padding-left: 5px;
      font-size: small;
      color: #7e7e7e;
      margin-bottom: 0;
    }
    h2{
      margin-top: 0;
    }
  }
  
  ion-list {
    // padding-top: 30px;
  
    ion-item {
      .fecha {
        color: #a2a2a2;
        font-size: x-small;
      }
      span {
        padding-left: 20px;
        text-transform: uppercase;
        font-size: 14px;
      }
    }
  }
  
  .btn_cerrar {
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    ion-icon {
      color: #fff;
    }
  }
  
  .alert-buttons {
    text-align: end;
    margin: 10px;
  }
  
  .contenedor_select {
    color: #626262;
    padding-bottom: 8px;
  }
  .version-right {
    position: absolute;
    right: 3%;
    top: 0;
    font-size: large;
    opacity: 0.6;
  }
  
  .version {
    float: left;
    color: #417c93;
    padding-right: 7px;
    small {
      color: #417c93;
    }
  }
  
  h5 {
    text-align: center;
    font-weight: bold;
    margin-top: 0;
  }
  ion-item {
    max-height: fit-content;
    ion-icon {
      font-size: 14px;
      float: left;
      padding-right: 4px;
    }
    .sub {
      font-size: 14px;
      float: left;
    }
    .accion {
      color: #858585;
    }
  }
  .even {
    --background: #f0f0f0;
  }
  .odd {
    --background: #fff;
    //--background: #000000fa;
  }

  .item_btn{
    width: 100%;
    ion-input{
   // border:initial !important;
    border: solid 0.5px #c7bebe;
    border-right: 0px;
    border-radius: 3px 0px 0px 3px;
    --padding-start:initial !important;
    margin: 0px;  
    height: 34px;
    min-height: 34px;
    padding-left:5px !important
    }
    .button{
      border-left-width: 0px;
      margin-left: 0px;
      height: 34px;
      min-height: 34px;
    border: solid 0.5px #c7bebe;
    border-radius: 0 3px 3px 0;
    background: #8181d1ed;
    color: white;
      
    }
  }
  
  .item_btn:hover{

    ion-input{
      // border:initial !important;
       border: solid 0.5px #6161a1ed;
       border-right: 0px;
       border-radius: 3px 0px 0px 3px;
       --padding-start:initial !important;
       margin: 0px;  
      padding-left:5px !important
       }
       .button{
        height: 34px;
       border: solid 0.5px #6161a1ed;
       border-radius: 0 3px 3px 0;
       background: #8181d1ed;
         color: white;
       }
  }
  ion-input {
    border: solid 1.8px #cacaca;
    border-bottom: solid 2px #929191;
    border-right: solid 2px #929191;
    margin: 5px 0px;
    border-radius: 5px;
    --padding-start: 5px!important;
    padding-left: 5px!important;
  }
  
  ion-input:hover {
    border-bottom: solid 2px #4268ec;
    border-right: solid 2px #4268ec;
    ion-icon {
      color: #4268ec !important;
    }
  }
  
  .btn-buscar {
    align-self: end;
    height: 36px;
    margin-left: 8px;
  }
  .pac-data {
    background: #f6f6f6;
    padding: 0px 10px;
    &.rut{
      background: #cfffc7;
    //  color: #000;
    }
    &.prio{
      background: #ffe9b3;
      //color: #000;
    }
    &.urg{
      background: #ff9898;
    }
    .ord-saldo{
      color: #c40000;
    }
  }
  .sub-title {
    width: 100%;
    text-align: center;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .row-select {
    text-align: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    font-size: small;
    font-weight: bold;
    ion-col{
      display: inline-flex;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
    ion-select { 
      min-width: 164px;
      color: #7d7d7d;
      padding-bottom: 10px;
      background: #fdffd2;
      /* z-index: 9999; */
      //padding: 1px;
      box-shadow: 0px 2px 4px -1px RGB(0 0 0 / 20%);
    }
  }
  
  ion-grid {
    //border: solid 1px black;
    margin-top: 10px;
    box-shadow: 0 2px 9px 1px RGB(0 0 0 / 20%);
    font-size: x-small;
    height: 30%;
    overflow: auto;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
      height: 7px;
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }
    ion-row {
      border-bottom: solid 1px #e8e8e8;
      .grid-label{
          font-weight: bold;
          align-items: center;
          justify-content: center;
          text-align: center;
      }
      ion-col {
        min-width: 68px;
        border-right: solid 1px #e8e8e8;
        ion-checkbox {
      //    --background-checked: #a9c8ff;
       //   --border-color-checked: #a9c8ff;
        }
      }
    }
  }
  .container-task{
    background: #f8fff4;
    padding: 10px;
  }
  .stripe-name{
    text-align: center;
    justify-content: center;
    padding: 5px;
    background: #6cff55;
    &.prio{
      background: #ffb700;
      color: #000;
    }
    &.urg{
      background: #ff3b3b;
      color: #fff;
    }
  }
  .dis-cut-name{
    max-height: 36px;
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .lbl-adicional{
  
    font-size: 12px;
    font-weight: bold;
  }
  .btn-action{
    padding-top: 14px;
    text-align: right;
  }
  .no-ana{
    height: 30%;
    text-align: center;
    place-content: center;
    font-size: x-large;
    background: #f4f4f4;
    color: #5a5a5a;
  }

  .col_custom{
    margin: auto;
  }

.item_width{
  width: 100%;
}

[size="small"] {
  height: 20px;
  font-size: 12px;
}




ion-accordion {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

ion-accordion.accordion-expanding,
ion-accordion.accordion-expanded {
  width: calc(100% - 10px);

  margin: 8px auto;
}

ion-accordion.accordion-collapsing ion-item[slot='header'],
ion-accordion.accordion-collapsed ion-item[slot='header'] {
  --background: var(--ion-color-light);
  --color: var(--ion-color-light-contrast);
}

ion-accordion.accordion-expanding ion-item[slot='header'],
ion-accordion.accordion-expanded ion-item[slot='header'] {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
}