ion-content{
    bottom:2px;
    top:2px
}
ion-col{
    margin: auto;
}

.icon_usd{
    font-size: 30px;
    border-radius: 50%;
    background: #69d90b;
    color: white;
    padding: 9px;
}

.text_precio{
    color: black;
    font-size: x-large;
    font-weight: 600;
}