<ion-header [translucent]="true">
  <ion-button (click)="facturaPrintDemo()">demofac</ion-button>
  <ion-toolbar #toolbar_header class="toolbar_custom">
    <ion-row>
      <!-- <ion-col size="4" class="ion-text-center">
        <ion-badge [color]="(origen_lab!=null)?'primary':'dark'"> <ion-icon name="business-outline"></ion-icon>
          {{(origen_lab!=null)?origen_lab.des_ori:'No seleccionado'}}</ion-badge>
      </ion-col> -->

        <ion-col size="3" class="ion-text-center blue-background">
          
        <ion-badge *ngIf="paciente.cod_pac" [color]="(origen_lab!=null)?'light':'dark'" style="margin: 7px;"> <ion-icon name="person-circle-outline" style="margin: 0px 0px -5px 1px;height: 21px;width: 20px;"></ion-icon>
          Código Paciente: 
          <span style="font-size: large;margin: 6px;">
            {{ paciente.cod_pac ?? 0 }}
          </span>
           </ion-badge>
      </ion-col>

      
      <!-- <ion-col size="3" class="ion-text-center blue-background" (click)="presentAlertOrigen()">
        <ion-badge [color]="(origen_lab!=null)?'light':'dark'" style="margin: 7px;"> <ion-icon name="business-outline"></ion-icon>
          {{(origen_lab!=null)?origen_lab:'No seleccionado'}}
        </ion-badge>
      </ion-col> -->

      <ion-col size="2" class="ion-text-center green-background"(click)="presentAlertOrigen()">
        <ion-badge [color]="(origen_lab!=null)?'light':'dark'" style="margin: 7px;"> <ion-icon name=" -outline"></ion-icon>
          Cambio Texto</ion-badge>
      </ion-col>

      <ion-col size="4" class="ion-text-center">
        <ion-icon name="calendar-outline"></ion-icon>
        {{fecha_actual|date}}
      </ion-col>
      <ion-col size="3" class="ion-text-center">
        <ion-badge color="tertiary"> Pendiente </ion-badge>
      </ion-col>
    </ion-row>
    <ion-button fill="clear" color="light" slot="end" *ngIf="!mobile" (click)="presentPopoverMenu($event)">
      <ion-icon   name="list"></ion-icon></ion-button>
  </ion-toolbar>


</ion-header>
<ion-content  (touchmove)="ChangeContentView()" (scroll)="ChangeContentView()">
  <div class="pac_flag" *ngIf="this.mobile && this.flag_show_pac_div && this.paciente && this.paciente!=null">
   <b>{{this.paciente.cod_pac}}</b> - {{this.paciente.nombre_completo}}
  </div>
<ion-grid class="grid_content" (click)="ChangeContentView()">
<ion-row class="ion-row_custom">
  <ion-col size="12" size-lg="4.5" size-xl="4" >
    <ion-card class="card_form">
      <ion-toolbar class="toolbar_container">
        <ion-title>
          Orden
        </ion-title>

           <ion-button *ngIf="this.numero_orden!==0"  slot="end"[color]="'success'">
        # {{(this.numero_orden)}}
      </ion-button>
      </ion-toolbar>
      <ion-card-content style="padding-left: 0;padding-bottom: 0px;">
        <ion-row *ngIf="paciente.cod_pac">
          <ion-col size="12">
             <ion-item #itemPac lines="none" *ngIf="paciente || paciente!=null">
              <ion-row class="full_width">
                <ion-col size="12" class="ion-text-center">
                  <ion-text style="font-weight: bold;">
                    {{paciente.nombre_completo}}
                  </ion-text>
                </ion-col>

                <ion-col size="12" class="ion-justify-content-end">
                  <ion-row>
                      <small>
                          <ion-text color="primary" style="font-size: small;">
                              <ion-icon name="id-card-outline" style="height: 20px;width: 20px;margin: 0px 0px -2px;"></ion-icon>
                              {{ paciente.id_pac || '' }}
                              <ion-badge *ngIf="!paciente.id_pac" color="danger" style="font-size: x-small;">Sin Identificación</ion-badge>
                          </ion-text>
                      </small>
                  </ion-row>
                  <ion-row>
                      <small> <ion-icon name="mail-outline"  style="height: 21px;width: 20px;margin: 0px 0px -4px 0px;" color="primary"></ion-icon> {{paciente.mail_pac}}</small>
                  </ion-row>
                  <ion-row class="ion-text-end">
                      <small style="margin: 1px 0px;">
                          <ion-icon  style="height: 20px;width: 20px;margin: 0px 0px -4px;"
                              [color]="(paciente.sex_pac=='M')?'primary':(paciente.sex_pac=='F')?'female':'danger'"
                              [name]="(paciente.sex_pac=='M')?'male-outline':(paciente.sex_pac=='F')?'female-outline':'male-female-outline'">
                          </ion-icon>
                          {{(paciente.sex_pac=='M')?'Masculino':(paciente.sex_pac=='F')?'Femenino':'No asignado'}}
                      </small>
                  </ion-row>
                  <ion-row class="ion-text-end">
                      <small><ion-icon name="calendar-outline"  style="height: 20px;width: 19px;margin: 1px 4px -4px 0px;color: blueviolet;"></ion-icon>{{paciente.fec_nac}} / {{paciente.edad}}</small>
                  </ion-row>
              </ion-col>
              
              </ion-row>
           </ion-item>
            <div #referencia></div>
          </ion-col>
        </ion-row>
      </ion-card-content>

      <ion-card-content style="padding-top: 0px;padding-right: 0px;padding-left: 0px;">        
        <ion-row>
          <ion-col size="12"  class="sin-padding">
            <ion-item color="light">
              <ion-label style="padding-left: 10px;color: #cacaca;">Médico</ion-label>
              <ion-row>
                <ion-col *ngIf="this.medico!=null"  class="ion-text-end">
                  <!-- <ion-badge *ngIf="this.listMuestras.length > 0" class="badge_notification" color="danger">{{this.listMuestras.length}}</ion-badge> -->
                  <ion-button size="small" color="tertiary" fill="clear" >
                         #{{this.medico.cod_med}}
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col *ngIf="this.medico===null" size="12" size-lg="12" size-xl="12" size-md="12" size-sm="12" size-xs="12">
            <ion-label class="label_custom" position="stacked">Código de Médico: <ion-text
                color="danger">*</ion-text></ion-label>
            <ion-item class="item_custom2" lines="none">
              <ion-icon (click)="this.getMedico()" name="search" slot="end"></ion-icon>
              <ion-input type="text" [value]="this.inputMedico"
                [(ngModel)]="this.inputMedico" (keyup.enter)="this.getMedico()">
              </ion-input>
            </ion-item>
          </ion-col>

          <ion-col *ngIf="this.medico!=null" size="12" size-lg="12" size-xl="12" size-md="12" size-sm="12"
            size-xs="12">
            <ion-item lines="none">
              <ion-text>
                 <ion-col size="6" style="font-size: 16px;">
                  <small style="font-size: medium;"> <ion-icon slot="start" src="../../../assets/icon/doctor2.svg" style="height:30px;width:30px; margin: 1px 4px -2px 1px;"></ion-icon>
                    {{this.medico.nombre_medico ? this.medico.nombre_medico : this.medico.nom_med}}
                  </small>                  
                </ion-col>
               </ion-text>
            </ion-item>
            <ion-button (click)="presentModalNewMedico()" class="ion-text-right" fill="outline" style="width: 100%;height: 35%;padding-right: 18px;padding-left: 18px;">              
              <span style="text-transform: capitalize; font-family: 'Roboto', sans-serif; letter-spacing: -0px;">Cambiar Médico</span>
            </ion-button>
          </ion-col>

          <!-- <ion-col size="12" size-lg="12" size-xl="12" size-md="12" size-sm="12"
          size-xs="12" class="ion-text-end">
          <a (click)="presentModalNewMedico()" class="ion-text-right" style="text-decoration: underline;">
            <ion-icon name="person-outline" slot="end"></ion-icon>Buscar Medico
          </a>
        </ion-col> -->
        
   <ion-col *ngIf="this.medico===null" size="12" size-lg="12" size-xl="12" size-md="12" size-sm="12" size-xs="12" class="ion-text-center ion-justify-content-center ion-align-items-center">
    <ng-container *ngIf="this.medico || this.medico != null; else showButton2">
      <ion-button (click)="presentModalNewMedico()" class="ion-text-right" fill="outline" style="width: 92%; height: 75%;">
        <ion-icon name="person-outline" slot="start" style="font-size: 14px;"></ion-icon>
        <span style="text-transform: capitalize; font-family: 'Roboto', sans-serif; letter-spacing: -0px;">Cambiar Médico</span>
      </ion-button>
    </ng-container>
    <ng-template #showButton2>
      <ion-button (click)="presentModalNewMedico()" class="ion-text-right" fill="outline" style="width: 92%; height: 75%;">
        <ion-icon name="person-outline" slot="start" style="font-size: 14px;"></ion-icon>
        <span style="text-transform: capitalize; font-family: 'Roboto', sans-serif; letter-spacing: -0px;">Buscar Médico</span>
      </ion-button>
    </ng-template>
  </ion-col>
        </ion-row>
      </ion-card-content>


      <ion-row style="width: 100%;">
        <ion-col size="12"  class="sin-padding">
          <ion-item color="light" class="ion-text-center">
            <ion-label style="padding-left: 10px;color: #cacaca;" >Planes / Unidad / Referencia</ion-label>
            <ion-row>
              <ion-col *ngIf="this.medico!=null"  class="ion-text-end">
                <ion-button size="small" color="tertiary" fill="clear" >
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-card-content style="padding-right: 6px;padding-left: 8px;">
        <ion-row>         
      
          
          <ion-col size="12">     
      
              <ion-label style="position: absolute;top: -7px;left: 10px;background-color: #fff;padding: 0 5px;color: #666565;pointer-events: none;border-radius: 5px;z-index: 1;font-weight: bold;font-size: 13px;">Plan : </ion-label>
              <ion-select (ionChange)="updatePreciosbyPlan('todo','')" placeholder="Selecciona un plan" style="border: 1px solid #dbdbdb; border-radius: 5px; z-index: 0; text-align: center; height: 40px; display: flex; align-items: center;padding-left: 50px;padding-right: 10px;">
                <ion-input class="custom-input-style" [(ngModel)]="hora_entrega_resultados" [value]="hora_entrega_resultados" placeholder="Ingrese la hora" style="margin-top: 20px;"></ion-input>
                <div *ngFor="let item of listSeguro">
                  <ion-select-option [value]="item2" *ngFor="let item2 of item.Plan">{{item2.des_plan}}</ion-select-option>
                </div>
              </ion-select>             
          </ion-col>

          <ion-col size="12" style="top: 10px;" >
        <ion-label style="position: absolute;top: -7px;left: 10px;background-color: #fff;padding: 0 5px;color: #666565;pointer-events: none;border-radius: 5px;z-index: 1;font-weight: bold;font-size: 13px;">Unidad : </ion-label>
           <ion-select [interfaceOptions]="options_select" [(ngModel)]="unidad_select" placeholder="Selecciona un Unidad" style="border: 1px solid #dbdbdb; border-radius: 5px; z-index: 0; text-align: center; height: 40px; display: flex; align-items: center;padding-left: 50px;padding-right: 10px;">
             <ion-select-option *ngFor="let item of listUnidad" [value]="item.cod_uni">
              {{item.des_uni}}
            </ion-select-option>
             </ion-select> 
          </ion-col>

          <ion-col size="12" style="top: 19px;">
            <ion-label style="position: absolute;top: -7px;left: 10px;background-color: #fff;padding: 0 5px;color: #666565;pointer-events: none;border-radius: 5px;z-index: 1;font-weight: bold;font-size: 13px;">Referencia : </ion-label>
            <ion-select [interfaceOptions]="options_select" [(ngModel)]="referencia_select" placeholder="Selecciona una Referencia" style="border: 1px solid #dbdbdb; border-radius: 5px; z-index: 0; text-align: center; height: 40px; display: flex; align-items: center;padding-left: 50px;padding-right: 10px;">
              <ion-select-option *ngFor="let item of listReferencia " [value]="item.cod_Ref">{{item.des_ref}}
              </ion-select-option>
          </ion-select>
          </ion-col>

          <ion-col size="12" size-lg="6" size-xl="6" size-md="6" style="top: 5px;padding-top: 15px;padding-right: 0px; padding-left: 0px;">
            <ion-label class="label_custom" position="stacked">
              Ref.Entrega/ Exp
            </ion-label>
            <ion-item class="item_custom2" lines="none" style="margin-top: 0px;margin-bottom: 8px;">
            <ion-input type="text"></ion-input>
            </ion-item>

       


          </ion-col>


          <ion-col size="12" size-lg="6" size-xl="6" size-md="6" style="top: 5px;padding-top: 15px;padding-right: 0px; padding-left: 0px;">
            <ion-label class="label_custom" position="stacked">
              Habitacion
            </ion-label>
            <ion-item class="item_custom2" lines="none" style="margin-top: 0px;margin-bottom: 8px;">
            <ion-input type="text"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-accordion-group #accordionGroup style="margin-top: 2px;">
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label style="color: #cacaca;text-align: center;" >Facturación a Tercero</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content" style="padding: 0px;">
              <ion-row>
                <ion-col size="12" size-lg="12" size-xl="12" size-md="12" size-sm="12" size-xs="12" class="ion-text-start">
                  <ion-label class="label_cedula_tercer_usuario" position="stacked">Cédula de Paciente: <ion-text color="danger" style="text-align: center; font-weight: 800;">*</ion-text></ion-label>
                  <ion-item class="item_custom2" lines="none">
                    <ion-icon (click)="getPaciente_terceros()" name="search" slot="end"></ion-icon>
                    <ion-input class="centered-input" type="text" [value]="input_paciente_terceros" [(ngModel)]="input_paciente_terceros" (keyup.enter)="getPaciente_terceros()"></ion-input>
                  </ion-item>

                  <ion-item #itemPac lines="none" *ngIf="(paciente_completo || paciente_completo!=null) && bloquearIonItem" style="margin: 0px -30px;">
                    <ion-row class="full_width" style="padding: 0px 1px;">
                 
                          <ion-card color="light" style="margin: 14px; width: 100%;">
                            <ion-card-content style="margin: -10px;">
                              <b>{{paciente_completo.nombre_completo}}</b><br>
                              <div style="color: green; display: flex; align-items: center; justify-content: center;">
                                    Código pac: ({{paciente_completo.cod_pac}})
                              </div>
                             </ion-card-content>
                          </ion-card>
                          <ion-list style="margin:-9px 25px;">                                               
                            <ion-item>
                              <pre></pre>
                              <ion-checkbox [(ngModel)]="paciente_completo_bolean" (ionChange)="facturarPaciente()" style="font-size: small; color: #3880ff;" >
                                Deseas facturar a este paciente</ion-checkbox>     
                                </ion-item>                                                                             
                          </ion-list>                                                                                                 
                          <ion-button expand="full" color="danger" style="width: 100%;" (click)="Eliminar_Paciente_Tercero()">
                            <ion-icon name="trash"></ion-icon> Limpiar datos
                          </ion-button>
                            </ion-row>
                 </ion-item>
                  <div #referencia></div>
                </ion-col>   
              </ion-row>                    
                </div>
          </ion-accordion>
        </ion-accordion-group>
    </ion-card-content>
<!------------------------- Facturación a Terceros HTML ------------------------------------>
      </ion-card>
  </ion-col>
  <ion-col size="12" size-lg="7.5" size-xl="8" >
    <ion-card class="card_form">
      <ion-grid class="grid_peticiones">
        <ion-toolbar class="toolbar_container">
          <ion-title>
            Detalle
          </ion-title>
        </ion-toolbar>


            <ion-accordion-group [multiple]="true" [value]="['first', 'third']">
              <ion-accordion value="first">
                <ion-item slot="header" color="light">
                  <ion-label>Datos de Entrega</ion-label>
                </ion-item>
                <div class="padding:0;" slot="content">
                  <ion-segment mode="ios" style="height: 30px; width: 75%; margin: 0 auto; top: 5px;" [value]="this.dataOrden.stat_ord"[(ngModel)]="this.dataOrden.stat_ord"  mode="ios" (ionChange)="checkPriority()" [disabled]="(orden_view)">
                    <ion-segment-button class="urgent_segment" value="1">
                    <ion-label>Urgente</ion-label>
                  </ion-segment-button>
                  <ion-segment-button class="pri_segment" value="2">
                    <ion-label>Prioridad</ion-label>
                  </ion-segment-button>
                  <ion-segment-button class="rutina_segment" value="0" color="success">
                    <ion-label>Rutina</ion-label>
                  </ion-segment-button>
                </ion-segment>      
                               
               <ion-row style="background: #fff;margin-top: 10px;">         
                 <ion-col size="6">
                   <div class="centered-container" style="height: 110%;">                                              
                    <ion-input label="Fecha de ingreso de la orden" label-placement="floating" fill="outline" class="small-input"  type="date" [(ngModel)]="fecha_entrega_resultados"
                       [value]="fecha_entrega_resultados" min="{{getFormattedCurrentDate()}}" ></ion-input>
                     </div>                   
                 </ion-col>                 
                 <ion-col size="6">                                           
                     <div class="centered-container">
                      <ion-input  label="Hora de entrega de resultados" label-placement="floating" fill="outline" class="small-input" type="time" [(ngModel)]="this.hora_entrega_resultados"
                      [value]="this.hora_entrega_resultados"></ion-input>                           
                    </div>                                        
                 </ion-col>
                 </ion-row>
                </div>
              </ion-accordion>         
           </ion-accordion-group>
          <ion-row>
            <ion-col size="12"  class="sin-padding">
              <ion-item color="light">
                <ion-label>Peticiones</ion-label>
                <ion-row>
                  <ion-col class="ion-text-end">
                    <ion-badge *ngIf="this.listMuestras.length > 0" class="badge_notification" color="danger">{{this.listMuestras.length}}</ion-badge>
                    <ion-button size="small" color="tertiary" fill="clear" (click)="presentModalMuestras()">
                      <ion-icon slot="start" src="../../../assets/icon/pruebas.svg"></ion-icon> Muestras
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-item>
            </ion-col>
          </ion-row>
    
        




          <ion-card-content>
            <ion-row>
              <ion-col class="ion-text-start" size="12" size-sm="12" size-xm="12" size-md="6" size-lg="6"
                size-xl="6">
                <ion-searchbar (ionFocus)="searchAnalisisList()" (ionBlur)="close_analisis()"
                  [(ngModel)]="analisisbuscar" [debounce]="1000" (keyup.enter)="searchAnalisisList()"
                  (ionChange)="searchAnalisisList()" show-cancel-button="never" mode="ios"
                  placeholder="Buscar Análisis"></ion-searchbar>

                <div [hidden]="hiddenlistSearchAnalisis" *ngIf="listSearchAnalisis">
                  <ion-list class="listadesplegable">
                    <ion-item *ngFor="let item of listSearchAnalisis" class="item_list"
                      (click)="selectAnalisis(item)">
                      {{item.des_ana}}
                    </ion-item>
                  </ion-list>
                </div>
              </ion-col>

              <ion-col size="12" size-sm="12" size-xm="12" size-md="6" size-lg="6" size-xl="6" class="ion-text-end" style="margin: auto;">
                <ion-button style="height: 35px; margin: 0px -6px;" size="small" (click)="presentModalPerfilesAva()" [disabled]="(orden_view)">                  
                  <ion-icon name="clipboard-outline"></ion-icon>
                  Perfiles
                </ion-button>
              </ion-col>

            </ion-row>
           

            <ion-row class="header_tbl">
              <ion-col  [size]="(this.mobile)?5:1">Cod</ion-col>
              <ion-col size="3"  *ngIf="!this.mobile">Análisis</ion-col>
              <ion-col size="2" *ngIf="!this.mobile">F. Entrega</ion-col>
              <ion-col size="2" *ngIf="!this.mobile">Estado</ion-col>
              <ion-col size="2" [size]="(this.mobile)?5:2">Precio</ion-col>
              <ion-col size="2" >&nbsp;</ion-col>
            </ion-row>
            <ion-grid id="miDiv" class="div_container_tbl">
              <div *ngIf="listAnalisis.length>0">
                <div *ngFor="let item of listAnalisis">
                  <ion-row  *ngIf="!item.flag_no_precio" class="row_tbl">
                    <ion-col  [size]="(this.mobile)?5:1"> {{item.cod_ana}}</ion-col>
                    <ion-col size="3" *ngIf="!this.mobile"> {{item.des_ana}}</ion-col>
                    
                    <ion-col size="2" *ngIf="!mobile">
                      {{ formatearFecha(item.fechaFinal) }}
                    </ion-col>
                    
                    
                    
                    <ion-col size="2" *ngIf="!this.mobile"> <ion-badge color="primary">{{item.des_sts}}</ion-badge></ion-col>
                    <ion-col [size]="(this.mobile)?5:2">{{item.totalPac| currency }}</ion-col>
                    <ion-col size="1" ><ion-button size="small" style="margin:-9px;" color="light" (click)="presentAlertaaa(item)" mode="ios"><ion-icon
                          name="list-outline"></ion-icon></ion-button></ion-col>
                    <ion-col size="1" ><ion-button size="small" style="margin: -3px;" (click)="removeAnalisis(item)" color="danger"><ion-icon name="close-outline"></ion-icon></ion-button></ion-col>

                  </ion-row>
                </div>
              </div>
            </ion-grid>
          </ion-card-content>
            </ion-grid>

            <ion-card-content>
             <!-- Division de Seccion de tabla botones card -->
             <ion-item-divider>
              <ion-label></ion-label>
            </ion-item-divider>
      <!-- Division de Seccion de tabla botones card -->

      <ion-row class="header_tbl_parte_desuentos">
        <!-- <ion-col size="2" *ngIf="!mobile">
          <div class="horizontal-container">
            <ion-label>(+/-)</ion-label>
            <ion-input type="number" [(ngModel)]="this.dataOrden.dcto_ord" (ionInput)="calcTotal()"></ion-input>
          </div>
        </ion-col> -->
        <ion-col *ngIf="!mobile">
          <div class="centered-container">
            <ion-input  label="(+/-)" label-placement="floating" fill="outline" class="small-input" type="number" [(ngModel)]="this.dataOrden.dcto_ord" (ionInput)="calcTotal()"></ion-input>
            <!-- <ion-label>(+/-)</ion-label> -->
          </div>
        </ion-col>

        <ion-col *ngIf="!mobile">
          <div class="centered-container">
            <ion-input label="%(+/-)"  label-placement="floating"   fill="outline" class="small-input" type="number" [(ngModel)]="this.dataOrden.dcto_val" (ionInput)="calcTotal()"></ion-input>
            <!-- <ion-label>%(+/-)</ion-label> -->
          </div>
        </ion-col>
        <!-- <ion-col size="2" *ngIf="!mobile">
          <div class="horizontal-container">
            <ion-label>%(+/-)</ion-label>
            <ion-input type="number" [(ngModel)]="this.dataOrden.dcto_val" (ionInput)="calcTotal()"></ion-input>
          </div>
        </ion-col> -->
        <ion-col *ngIf="!mobile">
          <div class="centered-container">
            <!-- <ion-input label="(+/-)"  label-placement="floating"   fill="outline" class="small-input">{{(total_ord == '') ? '0.00 $' : total_ord + ' $'}}</ion-input> -->
            <!-- <ion-input label="(+/-)" label-placement="floating" fill="outline" class="small-input">{{(total_ord == '') ? '0.00 $' : total_ord + ' $'}}</ion-input> -->
            <ion-input label="Pago Inicial"  label-placement="floating" fill="outline" class="small-input" type="number" [(ngModel)]="total_ord"></ion-input>
            <!-- <ion-label>Pago Inicial</ion-label> -->
          </div>
        </ion-col>
        <ion-col size="2" *ngIf="!mobile">
          <div class="centered-container">
            <ion-input label="Pago Final"  label-placement="floating" fill="outline" class="small-input" type="number" [(ngModel)]="total_ord"></ion-input>

            <!-- {{(total_ord == '') ? '0.00 $' : total_ord + ' $'}} -->
            <!-- <ion-label>Pago Final</ion-label> -->
            </div>
       </ion-col>
      </ion-row>

            </ion-card-content>




    <ion-grid *ngIf="!mobile">
    <ion-col size="12" size-lg="7" size-xl="5">
      <!-- <ion-card-content> -->
        <ion-row>

          <ion-col>
            <ion-card class="btn_opc" color="warning" button (click)="presentModalPago()">
              <ion-icon name="cash" class="white-icon"></ion-icon>
              <br>
              <ion-text class="white-icon">Ir a Caja</ion-text>
            </ion-card>
          </ion-col>

          <ion-col>
            <ion-card class="btn_opc" color="tertiary" button (click)="presentModalObservations('O')">
              <ion-icon name="eye-outline"></ion-icon>
              <br>
              <ion-text>Observaciones</ion-text>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card class="btn_opc" color="success" button (click)="presentModalObservations('S')">
              <ion-icon name="save-outline"></ion-icon>
              <br>
              <ion-text>Guardar</ion-text>
            </ion-card>
          </ion-col>

          <ion-col>
            <ion-card class="btn_opc" color="danger" button (click)="resetOrden()" >
              <ion-icon name="trash-bin-outline"></ion-icon>
              <br>
              <ion-text>Borrar</ion-text>
            </ion-card>
          </ion-col>
        </ion-row>
    </ion-col>
  </ion-grid>
    </ion-card>
    </ion-col>
</ion-row>
</ion-grid>


<ion-fab *ngIf="mobile"  slot="fixed" vertical="bottom" horizontal="start" >
    <ion-fab-button color="primary" (click)="presentPopoverMenu($event)">
      <ion-icon name="menu-outline"></ion-icon>
    </ion-fab-button>
</ion-fab>
<ion-fab *ngIf="mobile"  slot="fixed" vertical="bottom" horizontal="end" >
  <ion-fab-button color="tertiary"  >
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button color="success">
      <ion-icon name="save-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="danger">
           <ion-icon name="trash-bin-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>


<ion-fab *ngIf="mobile && total_ord!='' "  slot="fixed" vertical="bottom" horizontal="center">
  <!-- <ion-fab-button  (click)="presentPopoverPago($event)" color="warning"> -->
    <ion-fab-button  (click)="presentPopoverPago($event)" color="warning">
    <ion-icon name="logo-usd"></ion-icon>
  </ion-fab-button>

</ion-fab>

<!--
<ion-button color="secondary" class="price_m_btn" *ngIf="mobile && total_ord!='' " (click)="presentModalPago()">
  <ion-icon name="logo-usd"> </ion-icon> {{total_ord}} - caja
</ion-button>
-->
</ion-content>