<ion-header *ngIf="tipo_server!=1">
  <ion-toolbar>
    <img src="assets/img/logo.png" slot="start" [routerLink]="['/lista-orden']" *ngIf="!filtro&&mobile||!mobile">
    <!--  <ion-title slot="start">LISTA DE ORDENES</ion-title>-->


    <ion-searchbar *ngIf="filtro||!mobile" [placeholder]="'simple.Buscar' | translate " slot="end"
      (ionChange)="filterOrdenes()" [(ngModel)]="digitosBusqueda" (ionCancel)="cancelFiltroBusqueda($event)"
      showCancelButton="focus">
    </ion-searchbar>

    <ion-text slot="end" class="nombre_usuario">{{usuario.nombre}}
    </ion-text>

    <ion-buttons slot="end">
      <div *ngIf="mobile">
        <ion-button fill=clear size="large" (click)="abrirFiltro()" color="secondary">
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="presentPopover($event)" fill="clear" size="large" color="secondary">

          <ion-icon name="person-circle-outline">
          </ion-icon>
        </ion-button>
      </div>
      <!--PARA PC-->
      <div *ngIf="!mobile">

        <ion-button (click)="funcionesComunes.cambiarUsuario()" fill="clear" size="large" color="tertiary"
          class="tooltip" *ngIf="var_usr.entidades&&var_usr.entidades.length>1">
          <span class="tooltiptext">{{ 'complex.lista_cambiar_usr' | translate }}</span>
          <ion-icon name="repeat-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="funcionesComunes.cerrarSesion()" fill="clear" size="large" color="danger" class="tooltip">
          <span class="tooltiptext tooltiptext2">{{ 'complex.lista_cerrar_sesion' | translate }}</span>
          <ion-icon name="exit-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="franja_usr">
    <ion-icon name="person-circle-outline" *ngIf="tipo_user=='pat'"></ion-icon> 
    <ion-icon src="assets/icon/doctor3.svg" *ngIf="tipo_user=='med'"></ion-icon> 
    <ion-icon name="business" *ngIf="tipo_user=='ref'"></ion-icon> 
    {{des_usr}}
  </div>
  <ion-card>
    <ion-card-header>

      <ion-row class="fechas">
        <ion-col size="3" *ngIf="!mobile">
          <ion-item>
          <ion-label position="stacked">Desde</ion-label>
            <ion-input type="datetime-local" position="stacked" [value]="fecha_desde| date: 'yyyy-MM-dd HH:mm'"
              [(ngModel)]="fecha_desde" (ionChange)="validaFecha()"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="3" *ngIf="!mobile">
          <ion-item>
            <ion-label position="stacked">Hasta</ion-label>
            <ion-input type="datetime-local" position="stacked" [value]="fecha_hasta| date: 'yyyy-MM-dd hh:mm'"
              [(ngModel)]="fecha_hasta" (Keyup.enter)="validaFecha()" (ionChange)="validaFecha()"></ion-input>
          </ion-item>
        </ion-col>
        <!-- <ion-col [size]="mobile?'12':'3'">
          <div *ngIf="tipo_server==1&&tipo_user!='pat'" class="search-input">
            <ion-searchbar *ngIf="filtro||!mobile" [placeholder]="'Buscar: Orden' " [(ngModel)]="dato_orden_find"
              (ionCancel)="cancelFiltroBusqueda($event)" showCancelButton="focus" debounce="2000"
              (ionInput)="buscarxOrden()">
            </ion-searchbar>
          </div>
          <small class="info-search" *ngIf="dato_find!=''&&dato_find.length<4">Debe digitar más de 3 caracteres</small>
        </ion-col> -->
        <ion-col [size]="mobile?'12':'6'">
          <div *ngIf="tipo_server==1&&tipo_user!='pat'" class="search-input">
            <ion-searchbar *ngIf="filtro||!mobile" [placeholder]="'Buscar: cedula o nombre' " [(ngModel)]="dato_find"
              (ionCancel)="cancelFiltroBusqueda($event)" showCancelButton="focus" debounce="2000"
              (ionInput)="buscaxFiltro()">
            </ion-searchbar>
          </div>
          <small class="info-search" *ngIf="dato_find!=''&&dato_find.length<4">Debe digitar más de 3 caracteres</small>
        </ion-col>
<!-- 
        <ion-col  size="12"  size-sm="12" size-xm="12" size-md="3" size-lg="3" size-xl="3">
          <ion-item  button  (click)="presentPopoverList($event,'sts')">
            <ion-label position="stacked">Estado</ion-label>
            <ion-input type="text" [readonly]="true" class="ion-text-center ">{{this.filtro_sts.des}}</ion-input>
          </ion-item>
        </ion-col> -->

        
      </ion-row>
 

      <ion-item>

        <ion-card-title *ngIf="!mobile">{{ 'complex.lista_titulo' | translate }}</ion-card-title>
        <div *ngIf="lista_ordenes.length>=300" class="info_size">
          Se estan mostrando los primeros 300 registros de su búsqueda, por favor ser más específico en el filtro
        </div>
        <div *ngIf="lista_ordenes.length<300" class="info_size"> {{lista_ordenes.length}} registro(s) encontrados</div>

        <ion-buttons slot="end" class="btn_listas">
          <!-- 

          <ion-button (click)="presentPopoverFiltro($event)" fill="clear" size="large" class="btn_filtro"
            color="secondary">
            {{ 'simple.Filtrar' | translate }}<ion-icon name="funnel-outline"></ion-icon>
          </ion-button>
          -->
          
          <ion-button class="btn_orden" *ngIf="mobile&&tipo_server==1&&tipo_user!='pat'" fill=clear size="large" (click)="abrirFiltro()" [color]="filtro?'danger':'tertiary'">
           Buscar 
           <ion-icon name="search" *ngIf="!filtro"></ion-icon>
           <ion-icon name="close-circle-outline" *ngIf="filtro"></ion-icon>
          </ion-button>
          <ion-button (click)="presentPopoverOrden($event)" fill="clear" size="large" class="btn_orden"
            color="secondary">
            {{ 'simple.Ordenar' | translate }} <ion-icon name="filter-outline"></ion-icon>
          </ion-button>
        </ion-buttons>

      </ion-item>

      <ion-item *ngIf="mobile" (click)="openModalPeriodo()">
        <div class="fechas_mob">
          <small position="stacked">Desde / Hasta</small>
          <br>
          <div> {{fecha_desde}} / {{fecha_hasta}}</div>
        </div>

      </ion-item>
    </ion-card-header>
    <ion-card-content>

      <ion-list>
        <ion-item *ngIf="!lista_filtrar||lista_filtrar.length<1" class="no_results">
          <div>
            {{ 'complex.lista_no_resultados' | translate }}
          </div>
        </ion-item>


        <div *ngIf="infoText!=''" class="info-text">{{infoText}}</div>
        <ion-item *ngFor="let orden of lista_filtrar;let index =index; ">

          <div class="indice" [slot]="mobile?'':'start'">
           <!-- {{index+1}}-->
           {{orden.nro_ord}}
          </div>
          <ion-text>
            <ion-row class="ion-text-left nombres_orden">
              <ion-col *ngIf="tipo_user!='pat'" [size]="mobile?12:''">
                {{orden.nombre_completo}}

              </ion-col>
            
              <ion-col>
                <ion-badge>{{orden.des_sts}}</ion-badge>
              </ion-col>
            
              <!--
              <ion-col class="ion-text-right val_orden" *ngIf="!mobile">
                {{orden.nro_ord}}
                
                <br>
              </ion-col>
-->
            </ion-row>

            <ion-row [class]="orden.nombre_medico ? 'val_doc':'val_doc disable_val'" *ngIf="tipo_user!='med'">
              <div *ngIf=" orden.nombre_medico">
                <ion-icon src="assets/icon/doctor2.svg"></ion-icon>Dr. {{orden.nombre_medico}}

              </div>
              <div *ngIf="!orden.nombre_medico">
                <ion-icon src="assets/icon/doctor2.svg"></ion-icon>
                {{ 'complex.lista_sin_medico' | translate }}
              </div>
            </ion-row>
            <!-- <ion-row style="width: 100%;" class="orden_values">
              <ion-col class="val_fecha ">
                <ion-text>Análisis {{(orden.count_analisis)?'(' + orden.count_analisis+ ')':''}} : {{orden.analisis}} </ion-text>
                
              </ion-col>
            </ion-row> -->
            <!-- <ion-row class="orden_values">
              <ion-col class="val_fecha ">
                <ion-text >Muestras {{(orden.count_muestras)?'(' + orden.count_muestras + ')':''}}:  {{orden.muestras}}</ion-text>
                
              </ion-col>
            </ion-row> -->

            <ion-row class="orden_values">
              <ion-col class="val_fecha" [size]="mobile?12:''">
                <ion-icon name="calendar-outline"></ion-icon>{{modificaFecha(orden.fec_upd) | date:formato_fecha}}
              </ion-col>
              <ion-col [class]="orden.id_pac ? 'val_ced':'val_ced disable_val'">
                <div *ngIf="orden.id_pac&&orden.id_pac!=''" class="val_ced_dis">
                  <ion-icon src="assets/icon/id-card.svg"></ion-icon>
                  <div *ngIf="orden.id_pac">{{orden.id_pac}} </div>
                  <div *ngIf="!orden.id_pac">{{ 'complex.lista_sin_documento' | translate }}
                  </div>
                </div>
              </ion-col>
              <ion-col *ngIf="flag_view_ord && tipo_user=='ref'" class="ion-text-start">
                <ion-button (click)="view_Orden(orden)" size="small" color="secondary" fill="clear"><ion-icon slot="start" name="eye"></ion-icon>
                Revisar
                </ion-button>
              </ion-col>

              <ion-col *ngIf="!mobile">
                <ion-buttons *ngIf="orden.saldo<=0.00"  class="ion-text-wrap">
                  <!-- 
                  
                  <ion-button (click)="presentModal(orden)" color="danger">
                    <ion-icon name="eye-outline" size="large"></ion-icon>
                  </ion-button>
                  <ion-button (click)="enviaMail(orden.nro_ord)" color="tertiary">
                    <ion-icon name="mail-outline" size="large"></ion-icon>
                  </ion-button>
                -->

                <!-- <ion-button *ngIf="orden.saldo<=0.00&&(orden.listo==1||(ativa_progress&&orden.progress>0))" (click)="cargarDatosPaciente(orden.nro_ord)"
                  color="secondary">
                  <ion-icon src="copy" size="large"></ion-icon>Copy Prass
                </ion-button> -->
                  <ion-button *ngIf="orden.saldo<=0.00&&(orden.listo==1||(ativa_progress&&orden.progress>0))" (click)="cargarDatosPaciente(orden.nro_ord)"
                    color="secondary">
                    <ion-icon src="assets/icon/download-pdf.svg" size="large"></ion-icon>
                  </ion-button>
                  <ion-button *ngIf="tipo_user=='ref'&&formato_pdf_ref&&formato_pdf_ref!=''&&orden.saldo<=0.00&&(orden.listo==1||(ativa_progress&&orden.progress>0))" (click)="cargarDatosPaciente(orden.nro_ord,formato_pdf_ref)"
                    color="secondary">
                    <ion-icon src="assets/icon/download-pdf-ref.svg" size="large"></ion-icon>
                  </ion-button>

                  <ion-button (click)="presentPopoverFacturas(orden)" *ngIf="orden.facturas&&orden.facturas>0" color="secondary">
                    <ion-icon name="document-text-outline" size="large"></ion-icon>
                  </ion-button>
              <!--BOTON CHART-->
                    <ion-button *ngIf="orden.count_orders_pac&&orden.count_orders_pac>1" (click)="openChartPac(orden)" style="place-self: center;" fill="outline" color="success"> <ion-icon slot="icon-only" name="analytics-outline"></ion-icon></ion-button>
                 

                </ion-buttons>
                <ion-badge *ngIf="orden.saldo>0" class="ion-text-wrap saldo_pen">
                  Saldo Pendiente
                </ion-badge>

                <ion-badge *ngIf="orden.listo!=1" class="ion-text-wrap en_process" color="warning">
                  <ion-icon name="hourglass-outline"></ion-icon>
                  En proceso
                </ion-badge>

              </ion-col>
              <ion-col class="val_orden" *ngIf="mobile">
                <ion-icon name="clipboard-outline"></ion-icon>{{orden.nro_ord}}
              </ion-col>

            </ion-row>
          </ion-text>

          <ion-buttons *ngIf="mobile" class="btn_orden" class="ion-text-wrap" slot="end">
            <!-- 
                  
                  <ion-button (click)="presentModal(orden)" color="danger">
                    <ion-icon name="eye-outline" size="large"></ion-icon>
                  </ion-button>
                  <ion-button (click)="enviaMail(orden.nro_ord)" color="tertiary">
                    <ion-icon name="mail-outline" size="large"></ion-icon>
                  </ion-button>
                -->
            <ion-button *ngIf="orden.saldo<=0.00&&(orden.listo==1||(ativa_progress&&orden.progress>0))" (click)="cargarDatosPaciente(orden.nro_ord)"
              color="secondary">
              <ion-icon src="assets/icon/download-pdf.svg" name="print-outline" size="large"></ion-icon>
            </ion-button>  
            <ion-button *ngIf="tipo_user=='ref'&&formato_pdf_ref&&formato_pdf_ref!=''&&orden.saldo<=0.00&&(orden.listo==1||(ativa_progress&&orden.progress>0))" (click)="cargarDatosPaciente(orden.nro_ord,formato_pdf_ref)"
              color="secondary">
              <ion-icon src="assets/icon/download-pdf-ref.svg" name="print-outline" size="large"></ion-icon>
            </ion-button>
            <ion-button *ngIf="orden.facturas&&orden.facturas>0" (click)="presentPopoverFacturas(orden)" color="secondary">
              <ion-icon name="document-text-outline" size="large"></ion-icon>
            </ion-button>
               <!--BOTON CHART-->
               <ion-button *ngIf="orden.count_orders_pac&&orden.count_orders_pac>1" (click)="openChartPac(orden)" style="place-self: center;" fill="outline" color="success"> <ion-icon slot="icon-only" name="analytics-outline"></ion-icon></ion-button>
            <ion-badge *ngIf="orden.saldo>0" class="ion-text-wrap saldo_pen">Saldo Pendiente
            </ion-badge>
            <ion-badge *ngIf="orden.listo!=1" class="ion-text-wrap en_process" color="warning">
              <ion-icon name="hourglass-outline"></ion-icon>
              En proceso
            </ion-badge>
          </ion-buttons>

        </ion-item>
<!-- 

        <ion-item *ngIf="lista_ordenes.length>=300">
          Se estan mostrando los primeros 300 registros de su búsqueda, por favor ser más específico en el filtro
        </ion-item>
-->
      </ion-list>

      <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" [loadingText]="'complex.lista_cargando_mas' | translate">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
      <ion-button fill="clear" (click)="doInfinite($event)"
        *ngIf="lista_filtrar.length != lista_ordenes.length && cargando&&!infiniteScroll.disabled&&digitosBusqueda.length==0">
        {{ 'complex.lista_cargar_mas' | translate }}
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="tertiary" (click)="PrintReporteResultado()">
    <ion-icon name="reader"></ion-icon>
  </ion-fab-button>
</ion-fab>

<app-pie-pagina></app-pie-pagina>